<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>adm_add_game</title>
</head>

<body>
<form action="/myapp/adm_add_game_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="271" border="1">
    <tr>
      <th width="91" scope="row">Game_Name</th>
      <td width="164">
        <label for="textfield2"></label>
        <input type="text" name="textfield" id="textfield2"   required/>
     
      </tr>
    <tr>
      <th scope="row">Description</th>
      <td><label for="textfield2"></label>
          <textarea name="textfield2" rows="" cols=""  required></textarea>
{#      <input type="text"  id="textfield2" />#}
      </td>
    </tr>
    <tr>
      <th scope="row">Picture</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField"  required /></td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td><input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
  </table>
</form>
</body>
</html>
