<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>adm_view_trails</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/adm_view_trails_post/">
{% csrf_token %}
  <table width="200" border="1">
    <tr>
      <th scope="row">From</th>
      <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield" /></td>
      <td>To</td>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" /></td>
      <td><button>Search</button></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table width="200" border="1">
    <tr>
      <th scope="row">S/No</th>
      <td>Name</td>
      <td>Date</td>
      <td>Venue</td>
      <td>Description</td>
        <td>Academy Info</td>
    </tr>
      {% for i in htmldata %}
    <tr>
      <th> {{ forloop.counter }}</th>
      <td>{{ i.name }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td> {{ i.venue }}</td>
      <td> {{ i.description }}</td>
    <td>{{ i.ACADEMY.name }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
