{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>acd_call_for_trials</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'Academy/home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/acd_call_for_trials_post/">
    <table class="table table-bordered">
    {% csrf_token %}
  <tr><input type="hidden" value="{{ i.Academy.id }}" name="id">
    <td>Game</td>
    <td>
        <select name="gameid" class="form-control" required="">
        <option value="">--Select--</option>
            {% for i in data %}
            <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select></td>
  </tr>
  <tr>
    <td>Due Date</td>
    <td>
      <input type="date"  name="textfield2" id="textfield2"   class="form-control" required=""/></td>
  </tr>
  <tr>
    <td>Venue</td>
    <td><input type="text" name="textfield3" id="textfield3"  class="form-control" required="" /></td>
  </tr>
  <tr>
    <td>Under 'n' Age</td>
    <td><input type="text" name="textfield4" id="textfield4"   class="form-control" required=""/></td>
  </tr>
  <tr>
    <td height="67">Description</td>
      <td><textarea type="text" name="textfield5" id="textfield5"   class="form-control" required=""></textarea></td>

  </tr>
    <td>&nbsp;</td>
    <td>
        <input type="submit" name="button" id="button" value="Submit"  class="form-control" required="" />
    </td>
  </tr>
</table>

</form>
{% endblock %}
{#</body>#}
{#</html>#}
