<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/myapp/acd_signup_post/" method="post" enctype="multipart/form-data" name="form1" id="form1"><table width="200" border="1">
    {% csrf_token %}
  <tr>
    <td>Name</td>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
  </tr>
    <tr>
    <td>Logo</td>
    <td><label for="filefield"></label>
      <input type="file" name="filefield2" id="filefield" /></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td>District</td>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <td>State</td>
    <td><label for="select"></label>
      <select name="select" id="select">
          <option value="andhra_pradesh">Andhra Pradesh</option>
    <option value="arunachal_pradesh">Arunachal Pradesh</option>
    <option value="assam">Assam</option>
    <option value="bihar">Bihar</option>
    <option value="chhattisgarh">Chhattisgarh</option>
    <option value="goa">Goa</option>
    <option value="gujarat">Gujarat</option>
    <option value="haryana">Haryana</option>
    <option value="himachal_pradesh">Himachal Pradesh</option>
    <option value="jharkhand">Jharkhand</option>
    <option value="karnataka">Karnataka</option>
    <option value="kerala">Kerala</option>
    <option value="madhya_pradesh">Madhya Pradesh</option>
    <option value="maharashtra">Maharashtra</option>
    <option value="manipur">Manipur</option>
    <option value="meghalaya">Meghalaya</option>
    <option value="mizoram">Mizoram</option>
    <option value="nagaland">Nagaland</option>
    <option value="odisha">Odisha</option>
    <option value="punjab">Punjab</option>
    <option value="rajasthan">Rajasthan</option>
    <option value="sikkim">Sikkim</option>
    <option value="tamil_nadu">Tamil Nadu</option>
    <option value="telangana">Telangana</option>
    <option value="tripura">Tripura</option>
    <option value="uttar_pradesh">Uttar Pradesh</option>
    <option value="uttarakhand">Uttarakhand</option>
    <option value="west_bengal">West Bengal</option>
      </select></td>
  </tr>
  <tr>
    <td>Nationality</td>
    <td><select name="select2" id="select2">
        <option value="india">India</option>
    <option value="uae">United Arab Emirates</option>
    <option value="saudi">Saudi Arabia</option>
    <option value="germany">Germany</option>
    <option value="france">France</option>
    </select></td>
  </tr>
  <tr>
    <td>Phone No</td>
    <td><input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <td>Email ID</td>
    <td><input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <td>Website</td>
    <td><input type="text" name="textfield6" id="textfield6" /></td>
  </tr>
  <tr>
    <td>Insta ID</td>
    <td><input type="text" name="textfield7" id="textfield7" /></td>
  </tr>
  <tr>
    <td>Since</td>
    <td><input type="date" name="textfield8" id="textfield8" /></td>
  </tr>
  <tr>
    <td>Proof</td>
    <td><label for="filefield"></label>
      <input type="file" name="filefield" id="filefield" /></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="text" name="textfield9" id="textfield9" /></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><input type="text" name="textfield10" id="textfield10" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>
</table>

</form>
</body>
</html>
