{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'Academy/home_index.html' %}
{% block body %}
<form action="/myapp/acd_edit_profile_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    <input type="hidden" value="{{ htmldata.id }}" name="id">
    <table width="200" border="1">
    {% csrf_token %}
  <tr>
    <td>Name</td>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ htmldata.name }}"/></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ htmldata.place }}" /></td>
  </tr>
  <tr>
    <td>District</td>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ htmldata.district }}" /></td>
  </tr>
  <tr>
    <td>State</td>
    <td><label for="select"></label>
      <select name="select" id="select" value="{{ htmldata.state }}">
          <option>huh</option>
      </select></td>
  </tr>
  <tr>
    <td>Nationality</td>
      <td><label for="select2"></label>
        <select name="select2" id="select2" value="{{ htmldata.country }}">
            <option>gvg</option>
    </select></td>
  </tr>
        <tr>
    <td>Logo</td>
            <td><img src="{{ htmldata.logo }}" height="100px" width="100px">
            <input type="file" name="filefield1" id="filefield1" value="{{ htmldata.logo }}"/>
            </td>
  </tr>
  <tr>
    <td>Phone No</td>
    <td><input type="text" name="textfield4" id="textfield4" value="{{ htmldata.phone }}"/></td>
  </tr>
  <tr>
    <td>Email ID</td>
    <td><input type="text" name="textfield5" id="textfield5" value="{{ htmldata.email }}"/></td>
  </tr>
  <tr>
    <td>Website</td>
    <td><input type="text" name="textfield6" id="textfield6" value="{{ htmldata.website }}"/></td>
  </tr>
  <tr>
    <td>Insta ID</td>
    <td><input type="text" name="textfield7" id="textfield7" value="{{ htmldata.insta_id }}"/></td>
  </tr>
  <tr>
    <td>Since</td>
    <td><input type="date" name="textfield8" id="textfield8" value="{{ htmldata.since|date:'Y-m-d' }}"/></td>
  </tr>
  <tr>
    <td>Proof</td>
    <td><label for="filefield"></label>
        <img src="{{ htmldata.proof }}" height="100px" width="100px">

      <input type="file" name="filefield" id="filefield" value="{{ htmldata.proof }}"/></td>
  </tr>
  <tr>
    <td><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>
</table>

</form>
{% endblock %}
{#</body>#}
{#</html>#}
